/* @import './base.css'; */

body {
  /* display: inline-block; */
  /* max-width: 1280px; */
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  background-color: #efece6;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

